1ºDAM/Lenguaje de marcas/JAXB/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="persona">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="nombre" />
                <xsd:element name="apellidos" />
                <xsd:element name="usuario" />
                <xsd:element name="fecha_nacimiento" />
                <xsd:element name="telefono" />
                <xsd:element name="sexo" />
                <xsd:element name="calificacion" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>